<div>
  <img src="assets/img/koos3.jpg" class="fadeInBackground">
</div>

<mat-grid-list cols="4" rowHeight="100px" [gutterSize]="'30'" style="margin-top: 30px" >
  <mat-grid-tile [colspan]="2" [rowspan]="2" [style.background]="'lightblue'">
    <div style="margin: 15px;">
      <h1>Koos Drost</h1>
      married to Ruby with a son. Living in Groningen.
    </div>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="2" [rowspan]="3" [style.background]="'mediumturquoise'">
    <div style="margin: 15px;">
      <h1>Description</h1>
      Koos is a Java developer who is certified in Java, DevOps, Scrum, Agile and ITIL.
      Besides his technical interests, Koos loves sports and social contact.
      He is a teamplayer, likes challenges and is always looking for new innovations.
  </div>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="1" [rowspan]="3" [style.background]="'lightsteelblue'">
    <div style="margin: 15px;">
      <h1>Java development</h1>
      <div style="margin: 15px;">
        OCA, Design Patterns
      </div>
    </div>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="1" [rowspan]="3" [style.background]="'lightsteelblue'">
    <div style="margin: 15px;">
      <h1>DevOps</h1>
      <div style="margin: 15px;">
        Certification, 8 years of DevOps experience
      </div>
    </div>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="2" [rowspan]="2" [style.background]="'lightgray'">
    <div style="margin: 15px;">
      <h1>Coaching</h1>
      <div style="margin: 15px;">
        Followed a Coaching fundamentals course over a span of 3 months to improve my mentoring skills
      </div>
    </div>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="2" [rowspan]="2" [style.background]="'lightgray'">
    <div style="margin: 15px;">
      <h1>Scrum</h1>
      <div style="margin: 15px;">
        Certified Scrum Master and 2 other centrifications, besides 8 years of Scrum experience
      </div>
    </div>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="2" [rowspan]="2" [style.background]="'lightgray'">
    <div style="margin: 15px;">
      <h1>Ethical Hacking</h1>
      <div style="margin: 15px;">
        High interest in Security and ethical hacking. Followed several courses to develop more understanding of this field.
      </div>
    </div>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="4" [rowspan]="1">
    <div style="margin: 15px;">
      <h1>Other certifications and courses</h1>
    </div>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="4" [rowspan]="2">
      <div style="margin: 15px;">
        <img src="assets/img/oca-java.jpeg" class="fadeInLogo">
      </div>
      <div style="margin: 15px;">
        <img src="assets/img/exin-db-sql.png" class="fadeInLogo">
      </div>
      <div style="margin: 15px;">
        <img src="assets/img/exin-agile-scrum.png" class="fadeInLogo">
      </div>
      <div style="margin: 15px;">
        <img src="assets/img/psm.png" class="fadeInLogo">
      </div>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="4" [rowspan]="2">
    <div style="margin: 15px;">
      <img src="assets/img/itil.jpeg" class="fadeInLogo">
    </div>
    <div style="margin: 15px;">
      <img src="assets/img/devops-foundation.png" class="fadeInLogo">
    </div>
    <div style="margin: 15px;">
      <img src="assets/img/eccouncil.jpg" class="fadeInLogo">
    </div>
    <div style="margin: 15px;">
      <img src="assets/img/security-academy.png" class="fadeInLogo">
    </div>
  </mat-grid-tile>

</mat-grid-list>
