<div>
  <img src="assets/img/koos-bio.jpg" class="fadeInBackground">
</div>

<mat-grid-list cols="4" rowHeight="100px" [gutterSize]="'50'" style="margin-top: 30px" >
  <mat-grid-tile [colspan]="2" [rowspan]="2" [style.background]="'lightblue'" class="fade2">
    <div style="margin: 15px;">
      <h1>Koos Drost</h1>
      <div  style="margin: 15px;">
        Born on October 3rd 1990 in Musselkanaal. Besides his technical interests, Koos loves sports and social contact.
        He sprends his leisure time playing (beach)volleyball, cycling and making trips with friends.<br/>
        <br/>
        Living in Groningen, Koos is married to Ruby and has 1 son, Owen.
      </div>
    </div>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="2" [rowspan]="3" [style.background]="'mediumturquoise'" class="fade3">
    <div style="margin: 15px;">
      <h1>Introduction</h1>
      <div style="margin: 15px;">
        Koos is a Java developer who is certified in Java, DevOps, Scrum, Agile and ITIL.<br/>
        During his study Biomedical Research at the Hanze University (2009-2013) he got familiar with analytic thinking and data analysis.<br/>
        After his study, he completed a traineeship in Software Engineering at Sogyo, De Bilt.
        During his 10 years of experience he working in a broad range of industries, varying from Education to Finance and Governance.<br/>
        <br/>
        For more recent projects, check the sidebar.<br/>
        <br/>
      </div>
  </div>
  </mat-grid-tile>

  <mat-grid-tile  [colspan]="1" [rowspan]="3" [style.background]="'lightsteelblue'" class="fade4">
    <div style="margin: 15px;">
      <h1>Java</h1>
      <div style="margin: 15px;">
        With 8 years of experience in (Lead) Java development roles, Koos has an extensive background in up-to-date software development<br/>
        <br/>
        Certifications:<br/>
        - Oracle Certified Associate SE7<br/>
        - Performance Aware Programming<br/>
        - Advanced Design Patterns<br/>
        - Risk- and Cost-Driven Architecture<br/>
        - Analysis and Design with UML.<br/>
      </div>
    </div>
  </mat-grid-tile>

  <mat-grid-tile  [colspan]="1" [rowspan]="3" [style.background]="'lightsteelblue'" class="fade4">
    <div style="margin: 15px;">
      <h1>Scrum / DevOps</h1>
      <div style="margin: 15px;">
        (Ever?) Since 2013 Koos worked in a Scrum, Agile and DevOps environment. These frameworks have become the de facto standard in IT.<br/>
        <br/>
        Certifications:<br/>
        - Professional Scrum Master 1<br/>
        - EXIN Scrum Agile<br/>
        - DevOps Foundation<br/>
        <br/>
        <br/>
      </div>
    </div>
  </mat-grid-tile>

  <mat-grid-tile  [colspan]="2" [rowspan]="2" [style.background]="'lightgray'" class="fade5">
    <div style="margin: 15px;">
      <h1>Coaching</h1>
      <div style="margin: 15px;">
        During coaching and mentoring junior developers, he saw developers were mostly skilled in hardskills instead of softskills.
        Quite odd, because sharing knowledge should be a key point for every senior developer.<br/>
        Took a Coaching fundamentals course over a span of 3 months to help other people more efficiently by using several techniques.<br/>
      </div>
    </div>
  </mat-grid-tile>

  <mat-grid-tile  [colspan]="2" [rowspan]="2" [style.background]="'lightgray'" class="fade5">
    <div style="margin: 15px;">
      <h1>Front-end</h1>
      <div style="margin: 15px;">
        Having 4 years of Angular and 5 years of JSF experience, Koos has had his fair share of front-end software development.
        In fact, this entire page is made in the Angular framework.<br/>
        <br/>
      </div>
    </div>
  </mat-grid-tile>

  <mat-grid-tile  [colspan]="2" [rowspan]="2" [style.background]="'lightgray'" class="fade5">
    <div style="margin: 15px;">
      <h1>Ethical Hacking</h1>
      <div style="margin: 15px;">
        Koos has a high interest in IT security and ethical hacking. Since 2018 he is taking courses to develop more understanding of this field.<br/>
        These include Ethical Hacking Foundation, Ethical Hacker v10 and several other free courses.<br/>
      </div>
    </div>
  </mat-grid-tile>

  <mat-grid-tile  [colspan]="4" [rowspan]="1" class="fade5">
    <div style="margin: 15px;">
      <h1>Other certifications and courses</h1>
    </div>
  </mat-grid-tile>

  <mat-grid-tile  [colspan]="4" [rowspan]="2" class="fade5">
      <div style="margin: 15px;">
        <img src="assets/img/java-oca.png" class="fadeInLogo">
      </div>
      <div style="margin: 15px;">
        <img src="assets/img/exin-db-sql.png" class="fadeInLogo">
      </div>
      <div style="margin: 15px;">
        <img src="assets/img/exin-agile-scrum.png" class="fadeInLogo">
      </div>
      <div style="margin: 15px;">
        <img src="assets/img/psm.png" class="fadeInLogo">
      </div>
  </mat-grid-tile>

  <mat-grid-tile  [colspan]="4" [rowspan]="2" class="fade5">
    <div style="margin: 15px;">
      <img src="assets/img/itil-foundation.png" class="fadeInLogo">
    </div>
    <div style="margin: 15px;">
      <img src="assets/img/devops-foundation.png" class="fadeInLogo">
    </div>
    <div style="margin: 15px;">
      <img src="assets/img/ecc.png" class="fadeInLogo">
    </div>
    <div style="margin: 15px;">
      <img src="assets/img/security-academy.png" class="fadeInLogo">
    </div>
  </mat-grid-tile>

</mat-grid-list>
