<mat-drawer-container class="sidenav-container">

  <mat-drawer #drawer mode="side">
  <menu style="padding-inline-start: 0px"></menu>

    <div class="footer">
      <div class="projectClass">
        <mat-slide-toggle [(ngModel)]="isChecked" class="center" color="primary">
            <div *ngIf="isChecked">{{version}}</div>
        </mat-slide-toggle>
      </div>
    </div>

  </mat-drawer>

    <main></main>
    <button mat-fab color="primary" (click)="drawer.toggle()" *ngIf="!showSidebar" class="menuBtn" aria-label="Laat menu zien">
        <mat-icon>menu</mat-icon>
    </button>

</mat-drawer-container>
