<div class="projectClass">
  <button (click)="selectProject('ING')" mat-raised-button color="primary" class="projectBtn">ING Amsterdam</button>
</div>

<div class="projectClass">
  <button (click)="selectProject('TU')" mat-raised-button color="primary" class="projectBtn">Technische Universiteit Delft</button>
</div>

<div class="projectClass">
  <button (click)="selectProject('DUO')" mat-raised-button color="primary" class="projectBtn">Dienst Uitvoering Onderwijs</button>
</div>

<div class="projectClass">
  <button (click)="selectProject('DJI')" mat-raised-button color="primary" class="projectBtn">Dienst Justitiële Inrichtingen</button>
</div>

<!--<img src="assets/img/dji.png" class="project-logo">-->
