<div class="projectClass">
    <h1>About me</h1>
    <button (click)="selectProject('BIO')" mat-raised-button color="primary" class="projectBtn">Biography</button>
</div>

<div class="projectClass">
    <h1>Projects</h1>
    <button (click)="selectProject('ING')" mat-raised-button color="primary" class="projectBtn">ING Amsterdam</button>
</div>

<div class="projectClass">
    <button (click)="selectProject('TUD')" mat-raised-button color="primary" class="projectBtn">Technische Universiteit Delft</button>
</div>

<div class="projectClass">
    <button (click)="selectProject('DUO')" mat-raised-button color="primary" class="projectBtn">Dienst Uitvoering Onderwijs</button>
</div>

<div class="projectClass">
    <button (click)="selectProject('DJI')" mat-raised-button color="primary" class="projectBtn">Dienst Justitiële Inrichtingen</button>
</div>

<div class="projectClass">
    <h1>Pro bono</h1>
    <button (click)="selectProject('EXS')" mat-raised-button color="primary" class="projectBtn">Exstudiantes</button>
</div>
