<div>
    <img src="assets/img/logo-ing.png" class="fadeInLogo">
</div>

<h1>ING Bank</h1>
<h3>Operations Engineer Consultant, Amsterdam</h3>
<h5>2013-2014</h5>

<h3>Description</h3>
<div>
    Hired as a consultant at the Internetbankieren department.<br/>
    Working as an operations engineer using Scrum and Agile. Familiar with ITILv3, GIT and junior Java development. <br/>
    Responsible for (WebSphere/TomCat) application management plus accessory incident solving, capacity controlling and Change & Release management.<br/>
</div>

<h3>Frameworks & Techniques</h3>
<div>
    DevOps, Scrum, ITIL, Operations, WebSphere, TomCat, Unix
</div>
