<div>
    <img src="assets/img/logo-tud.png" class="fadeInLogo">
</div>

<h1>Technische Universiteit Delft</h1>
<h3>Java Consultant, Delft</h3>
<h5>2015-2015</h5>

<h3>Description</h3>
<div>
    Hired as a consultant at the Data Analytics and Traffic Simulation Lab (DiTTlab).<br/>
    Worked on the initial setup of a POC to be used in a demo to aquire a grant.<br/>
    This system was used link large amounts of geographical data to traffic simulation models.<br/>
    I was responsible for the development of all webservices, various types of data parsing and finally, the integration phase.<br/>
    The project was completed by successfully securing the desired grant.<br/>
</div>

<h3>Frameworks & Techniques</h3>
<div>
  Java 7/8, GIS, PostGis, PostgreSQL, REST-webservices, Tomcat.
</div>
