<div>
    <img src="assets/img/logo-tud.png" class="fadeInLogo">
</div>

<h1>Technische Universiteit Delft</h1>
<h3>Java Consultant, Delft</h3>
<h5>2015-2015</h5>

<h3>Description</h3>
<div>
    Hired as a consultant at the Data Analytics and Traffic Simulation Lab (DiTTlab).
    Worked on the initial setup of a system that will link large amounts of data to simulation models.
    The ‘glue’ between the data and the micro and macro models is a geographical description of the infrastructure and the built environment.
    Responsible for the development of webservices, various types of data parsing and system integration.
</div>

<h3>Frameworks & Techniques</h3>
<div>
  Java 7/8, GIS, PostGis, PostgreSQL, REST-webservices, Tomcat.
</div>
