<div>
    <img src="assets/img/logo-duo.png" class="fadeInLogo">
</div>

<h1>Dienst Uitvoering Onderwijs</h1>
<h3>Java Consultant, Groningen</h3>
<h5>2015-2019</h5>

<h3>Description</h3>
<div>
    Hired as a consultant at the Portals department.<br/>
    Worked at several systems that formed the landing page for both the commercial as the private channel.<br/>
    Koos' Devops team was responsible for the authentication, routing and multiple Angular (front-end) components.<br/>
</div>

<h3>Frameworks & Techniques</h3>
<div>
    Java 6/7/8, Spring(Boot), Hibernate, Liquibase, DB2, JSF, AngularJS, Angular 2+, Polymer, JBoss, WebSphere, Tomcat, Jenkins (Pipelines), Maven, Subversion, Git.
</div>
