<div>
    <img src="assets/img/logo-dji.png" class="fadeInLogo">
</div>

<h1>Dienst Justitiële Inrichtingen</h1>
<h3>Senior Java Consultant, Assen & Gouda</h3>
<h5>2019-current</h5>

<h3>Description</h3>
<div>
    Hired as a consultant at Dienst Vervoer en Ondersteuning (DV&O).<br/>
    I am the Lead developer of the system that facilitates the routing and transport of detainees.<br/>
    Working in a Dev-Ops team while mentoring junior developers.<br/>
    The continuous integration pipeline was set up from scratch to improve the code quality and standardize deploy and release procedures.<br/>
</div>

<h3>Frameworks & Techniques</h3>
<div>
    Java 7/8, Spring, JSF, OpenAPI, JBoss, Apache Fuse, Oracle 19c, Jenkins (Pipelines), Gitlab, Maven, Subversion, Git.
</div>
