<div>
    <img src="assets/img/logo-dji.png" class="fadeInLogo">
</div>

<h1>Dienst Justitiële Inrichtingen</h1>
<h3>Senior Java Consultant, Assen & Gouda</h3>
<h5>2019-current</h5>

<h3>Description</h3>
<div>
    Hired as a consultant at Dienst Vervoer en Ondersteuning (DV&O).<br/>
    Lead developer of a system that facilitates the routing and transport of detainees.<br/>
</div>

<h3>Frameworks & Techniques</h3>
<div>
    Java 7/8, Quintiq, Spring, JSF, JBoss, Apache Fuse, Jenkins (Pipelines), Gitlab, Maven, Subversion, Git.
</div>
