<h1>Alumni Sportvereniging Exstudiantes</h1>
<h3>Android developer, Groningen</h3>
<h5>2020-2020</h5>

<h3>Description</h3>
<div>
    Developed an app for Android to upload and play sounds.<br/>
    This app will be used during sports matches to imitate singing/yells since this isn't allowed duo to COVID.<br/>
    Available in the Google Play Store, click the icon below to go the page.<br/>
</div>

<div class="fadeInLogo" style="max-width: initial;">
    <a href="https://play.google.com/store/apps/details?id=nl.kodr.soundboard" target="_blank">
        <img src="assets/img/google-play.png" style="max-width: 20%; padding: 30px;">
    </a>
</div>

<h3>Frameworks & Techniques</h3>
<div>
    Android 30, Android Studio, Gradle, Java, Google Play Store.
</div>
